<html>
	<head>
		<title>Settings</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
		<script src="/md5.js" ></script>
		<script>
			$(function () {
				$("#submit").click(function() {
					$.ajax({
						'type': 'POST',
						'url': '/admin/submit',
						'data': {
							'user': $("#user").val(),
							'digest': hex_md5($("#pass").val() + '${salt}'),
							
							'defSpeed': $("#defSpeed").val(),
							'defMove': $("#defMove").val(),
							'defTurn': $("#defTurn").val(),
							
							'maxSpeed': $("#maxSpeed").val(),
							'maxMove': $("#maxMove").val(),
							'maxTurn': $("#maxTurn").val(),
							
							'devMode': $('#devMode').is(':checked'),
							'reconnect': $('#reconnect').is(':checked')
						},
						'success': check,
						'error': error,
						'dataType': 'text'
					});
					return false;
				});
			});
			
			function check(data) {
				if (data) {alert(data);}
				else {success();}
			}
			
			function success() {
				alert("Success, reloading page");
				location.reload();
			}
			
			function error() {alert("Error: Failed to connect");}
		</script>
		<style>
			tr {
				height:28px;
			}
			.group {
				text-align:center;
				font-weight:bold;
			}
		</style>
	</head>
	<body>
		<table style="border-spacing: 10px 0px; margin:auto;" >
			<tr class='group' >
				<td colspan="2" >User Authentication</td>
			</tr>
			<tr>
				<td>User:</td>
				<td><input type="text" id="user" /></td>
			</tr>
			<tr>
				<td>Pass:</td>
				<td><input type="password" id="pass" /></td>
			</tr>
			<tr><td><br></td></tr>
			<tr class='group' >
				<td colspan="2" >Default Values</td>
			</tr>
			<tr>
				<td>Speed:</td>
				<td><input type="text" id="defSpeed" value="${defSpeed}" /></td>
			</tr>
			<tr>
				<td>Move distance:</td>
				<td><input type="text" id="defMove" value="${defMove}" /></td>
			</tr>
			<tr>
				<td>Turn angle:</td>
				<td><input type="text" id="defTurn" value="${defTurn}" /></td>
			</tr>
			<tr><td><br></td></tr>
			<tr class='group' >
				<td colspan="2" >Max Values</td>
			</tr>
			<tr>
				<td>Speed:</td>
				<td><input type="text" id="maxSpeed" value="${maxSpeed}" /></td>
			</tr>
			<tr>
				<td>Move distance:</td>
				<td><input type="text" id="maxMove" value="${maxMove}" /></td>
			</tr>
			<tr>
				<td>Turn angle:</td>
				<td><input type="text" id="maxTurn" value="${maxTurn}" /></td>
			</tr>
			<tr><td><br></td></tr>
			<tr>
				<td>Developer mode: </td>
				<td>
				% if devMode:
					<input type="checkbox" id="devMode" checked >
				% else:
					<input type="checkbox" id="devMode" >
				% endif
				</td>
			</tr>
			<tr>
				<td>Reconnect NXT: </td>
				<td><input type="checkbox" id="reconnect" ></td>
			</tr>
			<tr><td><br></td></tr>
			<tr style="text-align:center;" >
				<td colspan="2" ><input type="button" id="submit" value="Submit" /></td>
			</tr>
		</table>
	</body>
</html>